body {
    display: flex;
    justify-content: center;
    background-color: rgb(21, 21, 21);
}
main {
    display: flex;
    justify-content: center;
}

#wrap {
    /* border: 3px solid white; */
    position: relative;
}

#pokedex-image {
    border: 3px solid black;
    border-radius: 10px;
    width: 840px;
    height: 630px;
    position: relative;
    z-index: 1;
    background-image: url('../assets/pokedex-5.png');
    background-size: cover;
    justify-content: center;
    align-items: center;
}

#poke-list {
    position: absolute;
    background-color: rgba(253, 245, 230, 0.338);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: hidden;
    left: 32px;
    top: 162px;
    width: 352px;
    height: 357px;
    z-index: 2;
}
.poke-number, .poke-name {
    font-size: 5px;
    border: 1px solid black;
    margin-top: 0px;
}

.poke-title {
    margin: -10px;
    text-align: center;
    width: 60px;
    height: 10px;
    height: 1%;
}

.poke-entry {
    width: 62px;
    height: 62px;
    border: 2px solid #19191a00;
    border-radius: 2px;
    margin: 10px;
    padding: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.type-boxes {
    width: 15px;
    height: 15px;
    margin: 0px;
    align-self: flex-end;
}

.poke-icon {
        width: 50px;
        margin-top: 0px;
}

p {
    /* border: 2px solid black; */
    width: 900px;
    height: 700px;
}